/.vscode
UILO_OLD.hpp
/tests/bin/containers
/tests/bin/buttons
tests/valgrind.txt
checklist.txt
examples/bin
obj
*.o
*.a
build
*.so
*.dylib
*.dll
# vendored bgfx clones + one-time build output (see build.sh)
/ext/
